footer{
    background-color: var(--black) ! important;
    color: white;
    font-family: Gotham;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: var(--yellow) !important;
    transition: 0.2s;
}

i{
    scale: 1.5;
}

i:hover{
    scale: 1.7;
    transition: 0.2s;
}