<main>
  <div class="card lg-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-lg-6 ps-5 d-flex justify-content-center align-items-center">
        <div class="card-body">
          <h5 class="card-title">Think Different...</h5>
          <h5 class="card-title">Think Exchange</h5>
          <p class="card-text mt-4 mb-4">CryptoAngular is the easiest place to buy and sell cryptocurrency. Sign up and get started today</p>
          <div class="d-flex gap-4">
            <input type="text" class="form-control" placeholder="Email address">
            <button routerLink="/signup" class="btn btn-primary" type="submit">Get Started</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="../../assets/images/banner_img.png" class="img-fluid" alt="Banner">
      </div>
    </div>
  </div>

  <div class="card lg-3" style="max-width: 100%;">
    <div class="row g-0 ps-5">
      <div class="col-lg-6 ps-5 d-flex justify-content-center align-items-center">
        <div class="card-body">
          <div class="container">
            <div class="row mb-5">
              <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center align-items-center pe-5">
                      <i class="fa-solid fa-chart-simple"></i>
                    </div>
                    <div class="col-md-8">
                      <div class="mini-card-body">
                        <h5 class="mini-card-title">Manage your portfolio</h5>
                        <p class="mini-card-text">Buy and sell popular digital currencies, keep track of them in the one place.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col">
                <div class="col">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-items-center pe-5">
                        <i class="fa-solid fa-calendar"></i>
                      </div>
                      <div class="col-md-8">
                        <div class="mini-card-body">
                          <h5 class="mini-card-title">Recurring buys</h5>
                          <p class="mini-card-text">Invest in cryptocurrency slowly over time by scheduling buys daily, weekly or monthly.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="col">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4 d-flex justify-content-center align-items-center pe-5">
                        <i class="fa-solid fa-mobile-screen"></i>
                      </div>
                      <div class="col-md-8">
                        <div class="mini-card-body">
                          <h5 class="mini-card-title">Mobile apps</h5>
                          <p class="mini-card-text">Stay on top of the markets with the CryptoAngular app for Android or iOS.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="../../assets/images/fabric.png" class="img-fluid" alt="Banner">
      </div>
    </div>
    <h1 class="text-center mt-5 pt-5">The most reliable cryptocurrency platform</h1>
    <h3 class="text-center mt-5">Why choose CryptoAngular?</h3>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-5">
        <div class="col">
          <div class="card-reliabe d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-database"></i>
            <div class="card-reliabe-body">
              <h5 class="card-reliabe-title text-center">Secure storage</h5>
              <p class="card-reliabe-text text-center">The vast majority of digital assets are stored in secure offline storage.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-reliabe d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-lock"></i>
            <div class="card-reliabe-body">
              <h5 class="card-reliabe-title text-center">Protection insurance</h5>
              <p class="card-reliabe-text text-center">CryptoAngular has cryptocurrency insurance and all USD cash balances are covered by FDIC insurance, up to a maximum of USD 250,000.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-reliabe d-flex flex-column justify-content-center align-items-center">
            <i class="fa-solid fa-shield-halved"></i>
            <div class="card-reliabe-body">
              <h5 class="card-reliabe-title text-center">Good practices</h5>
              <p class="card-reliabe-text text-center">CryptoAngular supports a wide variety of the most popular digital currencies.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>